<div class="container p-6 mx-auto">
  <h1 class="text-3xl font-bold text-center my-8" style="margin-top: -2rem;">Users</h1>
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr class="bg-gray-100">
        <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Email</th>
        <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Profile</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="px-6 py-4 border-b text-gray-800 font-semibold"><%= link_to user.email, user_path(user), class: "text-blue-500 hover:underline" %></td>
          <td class="px-6 py-4 border-b text-gray-800"><%= user.profile ? user.profile.name : "No profile" %></td>
          <td class="px-6 py-4 border-b text-gray-800"><%= user.profile ? user.profile.gender : "No profile" %></td>
          <td class="px-6 py-4 border-b text-gray-800"><%= user.profile ? user.profile.bio : "No profile" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
