<div class="container p-6 mx-auto">
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-6">Physician: <%= @physician.name %></h1>

  <div class="container mx-auto mt-8">
    <table class="min-w-full bg-white border rounded-lg shadow-md">
      <thead>
        <tr>
          <th class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase border-b">Patients</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="px-6 py-4 border-b">
            <ul class="list-disc pl-6">
              <% @physician.appointments.each do |appointment| %>
                <li class="mb-2">
                  <%= link_to "Patient: #{appointment.patient.name} - Appointment on #{appointment.appointment_date.strftime('%B %d, %Y %I:%M %p')}", patient_path(appointment.patient), class: "text-blue-500 hover:underline" %>
                </li>
              <% end %>
            </ul>
            <br>
            <div class="mt-6">
              <ul class="space-y-2">
                <li>
                  <%= link_to "Edit", edit_physician_path(@physician), class: "text-yellow-500 hover:underline" %>
                </li>
                <li>
                  <%= link_to "Destroy", physician_path(@physician), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-500 hover:underline" %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
